@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left
{
    width: 25vw;
    padding: 10px;
    


}

.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
    
}

.home{
    padding: 10px ;
}


.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style-type: none;
    padding-top: 14px;
    font-weight: bold;


}

.bg-black{
    background-color: black;
    color: white;
}


.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.p-1{
    padding: 10px;
}

.heading{

    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;

}

.heading img{
    width: 30px;
}

.footer{

    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;

}

.footer a{
    color: grey;
   
}

.library{
    min-height: 75vh;
    position: relative;

}

.header{
    display: flex;
    justify-content: space-between;

    background-color: rgb(34, 34, 34);
    
}

.header > * {
    padding: 20px;
    
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
    scroll-behavior: auto;

}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; background-color: green; border-radius: 50%; padding: 5px;

    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
    
}


.Signupbtn{
    background-color:  rgb(34, 34, 34);
    color: rgb(128, 127, 127);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;


}

.buttons > * {
    margin: 0 12px;

}
.Signupbtn:hover{
    font-size: 17px;
    color: white;
    

}

.Loginbtn
{
    background-color: white;
    border: none;
    outline: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;

}

.Loginbtn:hover{
    font-size: 17px;
    font-weight: bold;
    
}



.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(60, 150, 60);
    width: 100%;
    padding: 12px;

}
 


.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}