@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;



}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;

}

.home {
    padding: 10px;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style-type: none;
    padding-top: 14px;
    font-weight: bold;


}

.bg-black {
    background-color: black;
    color: white;
}


.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.p-1 {
    padding: 10px;
}

.heading {

    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    align-items: center;
    font-size: 13px;

}

.heading img {
    width: 30px;
}

.footer {

    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;

}

.footer a {
    color: grey;

}

.library {
    min-height: 75vh;
    position: relative;

}

.header {
    display: flex;
    justify-content: space-between;

    background-color: rgb(34, 34, 34);

}

.header>* {
    padding: 20px;

}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1{
    padding: 16px;
}
.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;
    scroll-behavior: auto;
 

}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.96s;
}


.card:hover{
    background-color: rgb(114, 114, 114);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 170px;
    right: 17px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
    bottom: 0;
    cursor: pointer;

}



.Signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(128, 127, 127);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;


}

.buttons>* {
    margin: 0 12px;

}

.Signupbtn:hover {
    font-size: 17px;
    color: white;


}

.Loginbtn {
    background-color: white;
    border: none;
    outline: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;

}

.Loginbtn:hover {
    font-size: 17px;
    font-weight: bold;

}



.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;


}



.songbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;



}

.songlist .info {
    font-size: 14px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;

}




.playnow {
    display: flex;

    align-items: center;

}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;

}

.seekbar {
    height: 2px;
    width: 98%;
    background: black;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;

}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;

}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.volume{
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
    justify-content: center;
    align-items: center;
}


.abovebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
}






@media (max-width: 1400px) {
    .left{
        /* background-color: red; */
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .right{

        width: 100vw;

    }
    
    .playbar{
        width: calc(100vw - 60px);
        
        
    }

    .seekbar{
        width: 90%;
    }

    .hamburger{
        display: block;
        
    }

    .abovebar{
        margin: 10px 0;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;

    }

    .songinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0 12px;
    width: 250px;
    width: 100%;
    
    }

    


    .seekbar{
        width: calc(100vw - 50px);
    }
    .songbuttons{
        margin-right: 30px;
    }

   
    .cardContainer{
        justify-content: center;
        margin: 0;
        margin-top: 10px;
    }
    .card{
        width: 44vw;
    }
    .right{
        margin: 0;
    }
    .info div{
        word-break: break-all;
    }

    
    
    
}

@media (max-width: 700px) {
    .left{
        /* background-color: red; */
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 270px;
        background-color: black;
    }

    .songinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 0 12px;
        width: 250px;
        width: 100%;
        
        }

        .songinfo{
            width: auto;
        }
        .songtime{
            width: auto;
        }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .right{

        width: 100vw;

    }
    
    .playbar{
        width: 88vw;
        
        
        
    }

    

    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
        justify-content: center;

    }

    .seekbar{
        width: 90%;
    }

    .hamburger{
        display: block;
        
    }

    .songlist ul li{
        display: inline-block;
    }

    .songbuttons
    {
        margin-right: 30px;
    }

    
    .cardContainer{
        justify-content: center;
        margin: 0;
        margin-top: 10px;
    }
    .card{
        width: 90vw;
    }

    .right{
        margin: 0;
    }

    .info div{
        word-break: break-all;
    }

    .left{
        padding: 0;
    }

    .play{
        top: 200px;
    }


}

.timevol{

}




